@font-face {
    font-family: "Roper";
    src: url('fonts/Roper.ttf');
}
@font-face {
    font-family: "Helvetica";
    src: url('fonts/Helvetica.otf');
}
body{
    overflow: hidden;
    background-repeat: no-repeat;
}
nav{
    padding-left: 44.8rem;
    position: absolute;
    justify-content: center;
    float: left;
}
.nav ul{
    list-style-type: none;
    list-style: none;
}
.nav li{
    float: left;
    background-color: rgb(255, 46, 81);
}
li a{
    text-align: center;
    padding: 15px;
    display: block;
    text-decoration: none;
    color: black;
}
.nav h3{
    font-family: "Helvetica";
    background-size: cover;
    background-repeat: no-repeat;
}
.Home{
    background-image: url("../imgs/bghome.png");
    background-size: 95%;
    background-position-x: 3rem;
    background-color: rgb(163, 163, 163); 
}
.Discografia{
    background-color: rgb(163, 163, 163); 
}
.Curiosidades{
    background-image: url('../imgs/bgcuriosidades.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.Integrantes{
    background-color: rgb(163, 163, 163); 
}
.Shows{
    background-image: url('../imgs/bgshows.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.Shows section{
    float: left;
}
.Shows section div{
    padding: 1rem;
}

section{
    display: inline-block;
}
img{
    width: 20rem;
    display: inline-block;
}
.h1_titulo{
    display: inline-block;
    font-family: "Roper";
    font-size: 250px;
    margin-left: 37rem;
    margin-top: 2.5rem;
}
.img_pfp{
    width: 20rem;
    height: 20rem;
    border: 1rem;
    border-radius:100%;
}
.fila{
    flex-wrap: wrap;
    padding: 4px;
    float: center;
    align-items: center;
}
.fila img{
    size: 200%;
    margin-left: 2px;
}
.section_discos{
    display: flex;
    margin-left: 5%;
}
.disco{
    font-family: "Helvetica";
    text-align: center;
    margin-left: 150px;
    padding: 1rem;
    margin-top: 50px;
    width: 350px;
}
.disco_abajo{
    font-family: "Helvetica";
    text-align: center;
    margin-left: 150px;
    padding: 1rem;
    margin-top: 200px;
    width: 350px;
}
.integrantes_fotos{
    display:  flex;
    margin-top: 15rem;
}
.Integrantes div{
    margin-left: 5rem;
}
.show{
    display: block;

}
.Shows section{
    padding: 6rem;
    background-color: hsla(0, 0%, 66%, 0.6);
}
.tituloshows{
    margin-left: 50.5rem;
    position: absolute;
    margin-top: 10rem;
    font-family: "Roper";
    font-size: 2.8rem;
}
.showscolumna1{
    font-family: "Helvetica";
    margin-left: 23rem;
}
.showscolumna2{
    font-family: "Helvetica";
    margin-top: 0rem;
    margin-left: 23rem;
}
a{
    font-family: "Helvetica";
    text-decoration: none;
}
.comprar{
    margin-top: 3px;
    display: block;
    background-color: rgba(255, 255, 255, 0.76); 
    text-align: center;
    padding: 2px;
    width: 50%;
}
.curiosidad{
    position: absolute;
    padding: 10rem;
    width: 400px;
}